/* 全体 */
body{
  font-family: "Gothic A1",'Franklin Gothic Medium', sans-serif;
  line-height: 1;
}
a{
  text-decoration: none;
  color: inherit;
}
li{
  list-style: none;
}
main{
  box-sizing: border-box;
}

/* ヘッダー */
.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
}
.header-logo{
  width: 40%;
  margin-left: 15%;
}
.header-nav-list{
  font-weight: bold;
  display: flex;
}
.header-nav-list__item:not(:last-child){
  margin-right: 30px;
}



/* 導入 */
.solution{
  width: 100%;
}
.solution-image{
  width: 100%;
}
.solution-container{
  z-index: -1;
  color: #fff;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.solution-message{
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.solution-title{
  font-size: 3em;
}
.solution-sub{
  font-size: 1.2em;
}

/* 導入  黒 */
.solution-bk{
  background: #000;
  width: 100%;
  color: #fff;
  padding: 10% 0;
}
.solution-bk-center{
  width: 80%;
  margin: auto;
}
.solution-bk__title{
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 5%;
}
.solution-bk__desk{
  line-height: 1.5em;
}

/* サービス↓ */
.service-title{
  margin: 5%;
  font-size: 2em;
  text-align: center;
}
.service{
  margin: 10% 0;
}
.service-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}
.service-container{
  margin: 10px;
}
.service-image{
  width: 530px;
  margin-right: 20px;
  height: 250px;
  margin-bottom: 5px;
}
.service-desc__title{
  margin: 5px;
  font: 1.2em;
  font-weight: bold;
}
.service-desc{
  width: 530px;
  font: 1.2em;
  line-height: 1.8em;
}

/* ボタン 共通 */
.btn{
  margin: auto;
  font-weight: bold;
  background-color: #cd0224;
  color: #fff;
  width: 300px ;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

/* ニュース↓ */
.news{
  width: 100%;
  background-color: #000;
  color: #fff;
  height: 100%;
  padding: 5%;
}
.news-title{
  font-size: 2em;
  margin-top: 5%;
  padding: 3%;
}
.news-header{
  width: 80%;
  margin: auto;
}
.news-header-item{
  width: 80%;
  display: flex;
  justify-content:space-between ;
}
.news-btn{
  display: none;
}

.news-content{
  display: flex;
  background-color: #fff;
  color: #000;
  width: 80%;
  align-items: center;
  line-height: 70px;
  margin: 20px auto;
}
.news-content-item{
  margin-left: 15px;
}

/* blog↓ */
.blog-title{
  font-size: 2em;
  margin-top: 5%;
  font-weight: normal;
  text-align: center;
  margin: 5%;
}
.blog-image{
  width: 350px;
}
.blog-flex{
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.blog-desc{
  font-size: 1.1em;
  font-weight: bold;
}
.blog-container{
  margin-right: 2%;
}
.blog{
  margin-bottom: 5%;
}

/* ↓Company,Recruit */
.info{
  width: 100%;
}
.info-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  width: 100%;
}
.info-company{
  font-size: 1.5em;
  color: #fff;
  background-color: #cd0224;
  height: 250px;
  flex: 1;
}
.info-recruit{
  font-size: 1.5em;
  color: #fff;
  background-color:#222 ;
  height: 250px;
  flex: 1;
}
.info-link{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* contact↓ */
.contact{
  padding: 50px;
  background-color:#f5f6f9 ;
}
.contact-title{
  font-size: 2em;
  margin: 30px;
  font-weight: normal;
  text-align: center;
}
.contact-desc{
  text-align: center;
  margin-bottom: 30px;
}


/* footer↓ */
.footer-title{
  margin: 0 2%;
}
.footer{
  background-color: #000;
  color: #fff;
  display: flex;
  font-size: 0.8em;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  padding-right: 3%;
}
.footer-nav__list{
  display: flex;
}
.footer-nav__item:not(:last-child)::after{
  content: "|";
  padding: 20px;
}

.header-hg-menu{
  display: none;
}

/* レスポンシブ↓max768px */
@media screen and (max-width: 767px){
  .header-nav-list{
    display: none;
  }
  .header-hg-menu{
    display: block;
  }

  .hg-menu{
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    background: #fff;
    transition: .7s;
    text-align: center;
  }

  .hg-menu-list{
    padding-top: 50px;
  }
 .hg-menu-list__item{
    list-style-type: none;
    font-size: 1.2em;
    margin-top: 50px;
    color:#5678DD
  }
  .menu {
    display: inline-block;
    width: 36px;
    height: 24px;
    cursor: pointer;
    position: relative;
    top: 5px;
    right: 20px;
  }
  .menu__line--top, .menu__line--middle, .menu__line--bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #333;
    position: absolute;
    transition: 0.5s;
  }
  .menu__line--top {
    top: 0;
  }
  .menu__line--middle {
    top: 10px;
  }
  .menu__line--bottom {
    bottom: 0;
  }
  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }
  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }
  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }
  .show{
    transform: translateX(100%);
  }

  /* open三←自体 */
  /* #open{
    position: absolute;
    top: 20px;
    right: 80px;  /*←一時的に左に寄せてあるよ*/
    /* font-size: 40px;
    cursor: pointer;
  } */ */

  /* ✖とリスト全体 背景白 */
  /* .close-hg-menu{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
  } */

  /* ✖自体 */
  /* #close{
    position: absolute;
    top:16px;
    right: 16px;
    font-size: 50px;
    cursor: pointer;
  }
   */
    /* ✖横のリスト */
  /* .close-hg-menu_item{
    color:#5678DD ;
    font-size: large;
    margin-top: 60px ;
    text-align: center;
  } */

  /* ✖とリスト 普段は非表示だよ */
  /* .close-hg-menu{
    display: none;
  } */

  /* showがついたときは表示だよ */
  /* .close-hg-menu.show{
    display: block;
  } */




  /* solution↓ */
  .solution-container{
   z-index: -1;
  }

  /* サービス↓ */
  .service{
    display: flex;
    flex-direction: column;
  }

  /* ニュース↓ */
  .news-header{
    align-items: baseline;
  }
  .news-content{
    line-height: 50px;
    width: 80%;
  }
  .news-btn{
    display: block;
    font-weight: bold;
    background-color: #cd0224;
    color: #fff;
    width: 15em;
    height: 3em;
    text-align: center;
    line-height: 3em;
  }

  .blog-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5%;
    width: 100%;
  }

  .blog-container{
    margin: auto;
    margin-bottom:2% ;
  }

  /* footer ↓ */
  .footer-title{
    margin: auto;
  }
  .footer-nav__list{
    display: flex;
    flex-direction: column;
    line-height: 200%;
  }
  .footer{
    height: 100%;
    justify-content: center;
  }
  .footer-nav__item:not(:last-child)::after{
    content: "";
    padding: 10px;
  }

}