/* 全体 */
body{
  font-family: "Gothic A1",'Franklin Gothic Medium', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
li{
  list-style: none;
}

/* ヘッダー */
.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
}
img.header-title{
  width: 80px;
  margin: 0 2em;
}
.header-nav-list{
  font-weight: bold;
  display: flex;
}
.header-nav-list__item:not(:last-child){
  margin-right: 30px;
}

/* 画像＋社員ブログ */
.blog-main-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.blog-main-image{
  width: 100%;
  text-align: center;
  height: 300px;
}
.blog-title{
  font-size: 1.8em;
  font-weight: normal;
  color: #fff;
  position: absolute;
}

/* blog↓ */
.blog-image{
  width: 350px;
}
.blog-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.blog-container{
  margin-right: 30px;
}
.blog-date{
  margin-top: 2%;
}
.blog-text{
  line-height: 1.5em;
  margin-bottom: 2%;
}
.blog-desc{
  font-size: 1.1em;
  font-weight: bold;
}
.blog{
  margin-bottom: 5%;
}



/* contact↓ */
.contact{
  padding: 50px;
  background-color:#f5f6f9 ;
}
.contact-title{
  font-size: 2em;
  margin: 30px;
  font-weight: normal;
  text-align: center;
}
.contact-desc{
  text-align: center;
  margin-bottom: 30px;
}
.content-btn{
  margin: auto;
  margin-top: 10px;
  font-weight: bold;
  background-color: #cd0224;
  color: #fff;
  width: 300px ;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

/* footer↓ */
.footer-title{
  margin: 0 2%;
}
.footer{
  background-color: #000;
  color: #fff;
  display: flex;
  font-size: 0.8em;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  padding-right: 3%;
}
.footer-nav__list{
  display: flex;
}
.footer-nav__item:not(:last-child)::after{
  content: "|";
  padding: 10px;
}

/* レスポンシブ↓max768px */
@media screen and (max-width: 768px){
  /* ヘッダー↓ */
  .header-nav-list{
    display: none;
  }

  .blog-flex{
    justify-content: center;
  }

  .blog-image{
    width: 100%;
  }
  .blog-container{
    margin-right: 0;
    width: 80%;
  }

  /* footer ↓ */
  .footer-title{
    margin: auto;
  }
  .footer-nav__list{
    display: flex;
    flex-direction: column;
    line-height: 200%;
  }
  .footer{
    height: 100%;
    justify-content: center;
  }
  .footer-nav__item:not(:last-child)::after{
    content: "";
    padding: 10px;
  }
  
}

