/* 全体 */
body{
  font-family: "Gothic A1",'Franklin Gothic Medium', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
li{
  list-style: none;
}

/* ヘッダー */
.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
}
.header-logo{
  width: 40%;
  margin-left: 15%;
}
.header-nav-list{
  font-weight: bold;
  display: flex;
}
.header-nav-list__item:not(:last-child){
  margin-right: 30px;
}

/* 画像＋お問い合わせ文字 */
.contact-main-container{
  z-index: -1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.contact-main-image{
  width: 100%;
  text-align: center;
  height: 300px;
}
.contact-main-title{
  font-size: 2em;
  font-weight: normal;
  color: #fff;
  position: absolute;
}

/* 入力欄↓ */
.contact-form{
  width: 80%;
  margin: auto;
  padding: 10% 0;
}
.contact-form-container-item{
  margin-bottom: 20px;
}
.contact-form-input{
  width: 100%;
  height: 2em;
}
.header-hg-menu{
  display: none;
}

.contact-form-title, .contact-form-title__{
  font-weight: bold;
  line-height: 1.5;
}

.contact-form-title__::after{
  content: "*";
  padding-left: 1.2%;
  color: #cd0224;
}

.contact-form-contact{
  width: 100%;
  height: 10em;
}



.contact-form-container{
  margin-bottom: 25px;
  line-height: 1.4em;
}

.contact-form-btn{
  display: block;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  width: 300px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 5% auto;
  cursor: pointer;
}


/* footer↓ */
.footer-title{
  margin: 0 2%;
}
.footer{
  background-color: #000;
  color: #fff;
  display: flex;
  font-size: 0.8em;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  padding-right: 3%;
}
.footer-nav__list{
  display: flex;
}
.footer-nav__item:not(:last-child)::after{
  content: "|";
  padding: 20px;
}


@media screen and (max-width: 767px){
  .header-nav-list{
    display: none;
  }
  .header-hg-menu{
    display: block;
  }

  .hg-menu{
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    background: #fff;
    transition: .7s;
    text-align: center;
  }
  .hg-menu-list{
    padding-top: 50px;
  }
 .hg-menu-list__item{
    list-style-type: none;
    font-size: 1.2em;
    margin-top: 50px;
    color:#5678DD
  }
  .menu {
    display: inline-block;
    width: 36px;
    height: 24px;
    cursor: pointer;
    position: relative;
    top: 5px;
    right: 20px;
  }
  .menu__line--top, .menu__line--middle, .menu__line--bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #333;
    position: absolute;
    transition: 0.5s;
  }
  .menu__line--top {
    top: 0;
  }
  .menu__line--middle {
    top: 10px;
  }
  .menu__line--bottom {
    bottom: 0;
  }
  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }
  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }
  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }
  .show{
    transform: translateX(100%);
  }

  /* footer ↓ */
  .footer-title{
    margin: auto;
  }
  .footer-nav__list{
    display: flex;
    flex-direction: column;
    line-height: 200%;
  }
  .footer{
    height: 100%;
    justify-content: center;
  }
  .footer-nav__item:not(:last-child)::after{
    content: "";
    padding: 10px;
  }

}