/* 全体 */
body{
  font-family: "Gothic A1",'Franklin Gothic Medium', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
li{
  list-style: none;
}

/* ヘッダー */
.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
}
img.header-title{
  width: 80px;
  margin: 0 2em;
}
.header-nav-list{
  font-weight: bold;
  display: flex;
}
.header-nav-list__item:not(:last-child){
  margin-right: 30px;
}

/* 画像＋会社概要文字 */
.company-main-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.company-main-image{
  width: 100%;
  height: 300px;
}
.company-title{
  font-size: 2em;
  font-weight: normal;
  color: #fff;
  position: absolute;
}

.company-table{
  width: 800px;
  margin: auto;
  margin-bottom: 50px;
}
.company-table-item{
  padding: 30px;
  border-top: solid 1px #000;
}
.company-table-item{
  border-bottom: solid 1px #000;
}



/* contact↓ */
.contact{
  padding: 50px;
  background-color:#f5f6f9 ;
}
.contact-title{
  font-size: 2em;
  margin: 30px;
  font-weight: normal;
  text-align: center;
}
.contact-desc{
  text-align: center;
  margin-bottom: 30px;
}
.content-btn{
  margin: auto;
  margin-top: 10px;
  font-weight: bold;
  background-color: #cd0224;
  color: #fff;
  width: 300px ;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

/* footer↓ */
.footer-title{
  margin: 0 2%;
}
.footer{
  background-color: #000;
  color: #fff;
  display: flex;
  font-size: 0.8em;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  padding-right: 3%;
}
.footer-nav__list{
  display: flex;
}
.footer-nav__item:not(:last-child)::after{
  content: "|";
  padding: 10px;
}


/* レスポンシブ↓max768px */
@media screen and (max-width: 768px){
  /* ヘッダー↓ */
  .header-nav-list{
    display: none;
  }
  /* footer ↓ */
  .footer-title{
    margin: auto;
  }
  .footer-nav__list{
    display: flex;
    flex-direction: column;
    line-height: 200%;
  }

  .company-table{
    width: 80%;
  }
  
  .footer{
    height: 100%;
    justify-content: center;
  }
  .footer-nav__item:not(:last-child)::after{
    content: "";
    padding: 10px;
  }

  }
